
body{
    background-color:black;
    color: aliceblue;
    height: 100%;
}

.cabecera{
    height: 75px;
    width: 100%;
    position: fixed;
}
.cabecera img {
    width: 500px;
    height: 75px;
    margin-left: 400px;

}
.contenido{
    margin-left: 300px;
    width: 700px;
    background-color: black;
    height: 2000px;
}
.serie {
    padding-top: 90px;
    text-align: center;
}

.serie img{
    height: 400px;
}


