@font-face{
     font-family: letra;
     src: url(letra.ttf)}
body{
    background-color:black;
    height: 100%;
    color: aliceblue;
}

.cabecera{
    height: 75px;
    width: 100%;
    position: fixed;
}
.cabecera img {
    width: 500px;
    height: 75px;
    margin-left: 400px;

}
.contenido{
    margin-left: 275px;
    width: 700px;
    background-color:black;
    height: 2000px;
}
.serie {
    padding-top: 90px;
    text-align: center;


}

.serie img{
    height: 400px;
}

.serie h1{
font-family: letra;
color:#15a7de;
letter-spacing: 3px;
}

.serie h3{
    text-align: initial;
    margin-left: 50px;
    font-family: Monospace;
    font-size: x-large;
    color: #b2f5fc;
}

.texto{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Monospace;
}

p b {
    color: #15a7de;
}

.tabla11{
    display: inline;
    font-size: 15px;
    margin-left: 10px;
}
.tabla11 thead tr{
    background-color:#009985 ;
}
.tabla11 tr{
    background-color:#212121;
}
