body{
    background-color:black;
    color: aliceblue;
    width: 100%;
    height: 100%;
}

.cabecera{
    height: 75px;
    width: 100%;
    position: fixed;
    background: "cabecerafondo.jpg";
    padding-top: 0%;
}
.cabecera img {
    margin: auto;
width: 500px;
height: 75px;
display: block;

}
